.content {
  box-sizing: border-box;
  margin: 0;
  padding: 0 1rem;
  block-size: calc(100vh - 306px);
  overflow-y: auto;
}

.content::-webkit-scrollbar {
  inline-size: .5rem;
}

.content::-webkit-scrollbar-thumb {
  background-color: #8585ad;
}

.content::-webkit-scrollbar-track {
  background-color: #2f2f37;
}

.cardList {
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1.5rem;
  margin: 0 1rem;
  padding: 0;
}

.title {
  margin: 2.5rem 0 0;
  font: 700 1.5rem/1.25 'JetBrainsMono', 'Inter', sans-serif;
  color: #f2f2f3;
}
