.container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  max-inline-size: 1280px;
  margin: 40px auto 0;
}

.menu {
  grid-column: 1 / 2;
}

.menu {
  margin: 80px 60px 0 0;
  padding: 0 0 0 20px;
  list-style: none;
}

.menuItem {
  display: flex;
  align-items: center;
  min-block-size: 4rem;
  min-inline-size: 20rem;
  transition: opacity .3s ease-in;
}

.menuItem:hover {
  cursor: pointer;
  opacity: .85;
}

.menuItem__link {
  color: #8585ad;
  text-decoration: none;
  font-family: 'JetBrainsMono', 'Inter', sans-serif;
  font-size: 1.5rem;
  line-height: 1;
  font-weight: 700;
}

.active {
  color: #f2f2f3;
}

.innerContainer {
  grid-column: 2 / 4;
  grid-row: 1 / 4;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 20px;
}

.supportText {
  grid-column: 1 / 2;
  max-inline-size: 320px;
  margin: 5rem 0 0;
  padding: 0 0 0 20px;
  font-family: 'JetBrainsMono';
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
  color: #8585ad;
}

.outlet {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 100%;
  block-size: 100%;
}
