@font-face {
  font-display: swap;
  font-family: 'JetBrainsMono';
  font-weight: 400;
  src: local('JetBrainsMono'),
       local('JetBrains Mono'),
       local('JetBrainsMono-Regular'),
       url(./JetBrainsMono-Regular.ttf) format('ttf');
}

@font-face {
  font-display: swap;
  font-family: 'JetBrainsMono';
  font-weight: 700;
  src: local('JetBrainsMono'),
       local('JetBrains Mono'),
       local('JetBrainsMono-Bold'),
       url(./JetBrainsMono-Bold.ttf) format('ttf');
}
