.container {
  grid-column: 2 / 4;
  grid-row: 1 / 4;
  block-size: 70vh;
  inline-size: calc(100% - 20px);
  box-sizing: border-box;
  padding: 20px;
  border: 1px solid #8585ad;
  border-radius: 30px;
}

.title {
  margin: 0;
  font-family: 'JetBrainsMono', 'Inter', sans-serif;
  font-size: 1.5rem;
  line-height: 1;
  font-weight: 700;
  color: #f2f2f3;
  text-align: center;
}
