.menu {
  display: flex;
  flex-wrap: nowrap;
  column-gap: .5rem;
  margin: 0;
  padding: 0;
  list-style: none;
}

.menuItem__link {
  display: flex;
  flex-wrap: nowrap;
  column-gap: 8px;
  margin: 0;
  padding: 16px 20px;
  border: 1px solid transparent;
  border-radius: 40px;
  text-decoration: none;
}

.menuItem__link:hover {
  border-color: #4c4cff;
  transition: border-color .3s ease;
}

.menuItem__text {
  align-self: center;
  font: 400 1rem/1 'JetBrainsMono', 'Inter', sans-serif;
  color: #8585ad;
  text-decoration: none;
}

.activ {
  color: #f2f2f3;
}
