.page {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-block-size: 100vh;
  background-color: #131316;
}

.title {
  margin: 0 0 .5rem;
  font: 400 9rem/1 'JetBrainsMono', 'Inter', sans-serif;
  color: #f2f2f3;
}

.text {
  margin: 0 0 8rem;
  font: 400 16px/19.4px 'JetBrainsMono', 'Inter', sans-serif;
  color: #f2f2f3;
}
