.container {
  min-block-size: 380px;
  min-inline-size: 350px;
  padding: 20px;
  border: 1px solid #8585ad;
  border-radius: 50px;
}

.title {
  margin: 0;
  font-family: 'JetBrainsMono';
  font-size: 1.5rem;
  line-height: 1;
  font-weight: 700;
  color: #f2f2f3;
  text-align: center;
}